#!/usr/bin/make -f

%:
	dh $@

# Deactivate the auto install target
# This is needed because 'make install' does something else.
# The installation is done using the debian/install file.
override_dh_auto_install:
	:
